# This is Git's per-user configuration file.
[user]
	name = Samuel Skean
	email = sskean2@uic.edu
	signingkey = /Users/samuelskean/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[alias]
	dotfiles = !git --work-tree=$HOME --git-dir=Dotfiles.git
