# This repo does use at least one `.gitignore` file in a nested directory in the same repo.

# This is redundant, but it feels clearer to include `.DS_Store` explicitly.
.DS_Store
*
!.gitignore

!.*
.DS_Store
.Trash*
# No idea what this is:
.bash_history*
.bash_logout
.cargo/
.CFUserTextEncoding
# The history of my `less` searches! And maybe other things in `less`:
.lesshst
.nvm
.psql_history
.pyenv/
.python_history
.viminfo
.vscode-server/
.wget-hsts
.zsh_history

# I gotta do this (well I would, if it weren't for the `!.*` line above),
# or git will never even look in `.config` or `.local`!
# See https://git-scm.com/docs/gitignore.
!.config/
!.local/

