# This repo does use at least one `.gitignore` file in a nested directory in the same repo.

# This is redundant, but it feels clearer to include `.DS_Store` explicitly.
.DS_Store
*
!.gitignore

!.*
.DS_Store
.Trash*
# No idea what this is:
.CFUserTextEncoding
.bash_history*
.bash_logout
.cargo/
# The history of my `less` searches! And maybe other things in `less`:
.lesshst
.viminfo
.psql_history
.pyenv/
.python_history
.vscode-server/
.wget-hsts
.nvm
.zsh_history

# I gotta do this, or git will never even look in `.config`!
# See https://git-scm.com/docs/gitignore.
!.config/
